.link{
	font-weight: 700;
	padding: 21px;
	display: inline-block;
}
.logo{
	float: right; /**Hacemos que el tipo logo se posicione al lado derecho*/
}
header{
	position: fixed;
	background: white;
	width: 100%;
	top: 0;

}
.menu{
	padding: 14px 70px;
	overflow: auto;
}
#home{
	background-image: url(../img/bg-home.jpg); /**Muestr la imagen de porta*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 554px;
	text-align: center;
	margin-top: 80px;
}
#home .container{
	color: white;
	padding: 70px;
}
.text-home{
	font-size: 53px;
}
.btn-home{
	background: #2ECC71;
	color: #fff;
	padding: 11px 20px;
	border-radius: 1px;
	font-weight: 1px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 63px;
	display: inline-block;
	font-size: 14px;
}
#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px 7px;
}

.box-services{
	display: inline-block;
	width: 30%;
	margin-top: 63px;
}
.text-services{
	font-size: 53px;
	letter-spacing: 2px;	
}
.work{
	width: 100%;
	text-align: center;
}
.container-work {
	width: 100%;
	text-align: center;
	display: inline-block;
}
.container-work {
	width: 100%;
	text-align: center;
	display: inline-block;
}
.img > img{
	border-radius: 9px;
}
#work{
	background-color: #fff;
	text-align: center;
	color: black;
	padding: 70px 7px;
}
#box-work{
	display: inline-block;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}
#box-work .img{
	display: inline-block;
	text-align: center;
	/*width: 30%;*/
	margin: 50px;
	width: 250px;
	height: 250px;
}
/*Aqui empieza lo del modal */
.modalDialog {
	display: none;
	position: fixed;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	justify-content: center;
	padding: 20px;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 2s ease-in;
}
/*.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}*/

.modalDialog > div {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 10px auto;
	padding: 30px;
	border-radius: 15px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.modalDialog > div >img {
	border-radius: 15px;
	width: 80%;
	height:95%;
	justify-content: center;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 30px;
	position: absolute;
	right: 17%;
	text-align: center;
	top: 6%;
	width: 35px;
	font-size: 20PX;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
/*floter aqui*/
footer{
	text-align: center;
	height: 70px;
	background: #373B47;
	color: white;
	padding-top: 7px;
}
